@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
}

#addBar {
    border: 0.125em solid hsl(125, 100%, 60%);
    margin: 0.25em;
    border-radius: 0.25em;
    display: flex;
    font-size: 2em;
}

#addInput {
    font-size: inherit;
    width: 100%;
    border-radius: inherit;
    padding: 0.125em;
}

#addBtn {
    font-size: inherit;
    background-color: inherit;
    border-radius: inherit;
    padding: 0.125em;
}

.list {
    margin: 0.5em;
    text-align: center;
    background-color: hsl(125, 100%, 60%);
    border-radius: 0.5em;
}

.listName {
    font-size: 2em;
    background-color: inherit;
    color: white;
}