@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    overflow-x: hidden;
}

#addBar {
    border: 0.125em solid hsl(125, 100%, 60%);
    margin: 0.25em;
    border-radius: 0.25em;
    display: flex;
    font-size: 2em;
}

#addInput {
    font-size: inherit;
    width: 100%;
    border-radius: inherit;
    padding: 0.125em;
}

#addBtn {
    font-size: inherit;
    background-color: inherit;
    border-radius: inherit;
    padding: 0.125em;
    background-color: white;
}

.list {
    user-select: none;
    margin: 0.5em;
    text-align: center;
    background-color: hsl(125, 100%, 60%);
    border-radius: 0.5em;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}

.listName {
    font-size: 2em;
    background-color: inherit;
    color: white;
}

#popup {
    user-select: none;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 0.5em;
    right: 0.5em;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.25em;
    font-size: 2em;
    transform: translate(0%,-50%);
}

#popupBG {
    background-color: hsla(0, 0%, 0%, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popupBtn {
    margin-top: 0.25em;
    width: 100%;
    background-color: hsl(125, 100%, 60%);
    color: white;
    font-size: inherit;
    border-radius: inherit;
}

.deleteWarning {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 10%;
    z-index: -1;
}